.navigation{
    height: 80px;
    background-color: #93BEF6;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #DEF386;
    z-index: 1000;
    position: fixed;
    width: 100%;
    top: 0px;
    box-shadow: 0px 10px 10px 0px #e53e1d50;
}

.logo{
    height: 60px;
    width: 70px;
    
}

.faBurger{
    font-size: 3rem;
}

.navigationDropDown{
    height: 150px;
    background-color: #DEF386;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    padding: 10px;
    box-shadow: 0px 10px 10px 0px #e53e1d50;
    width: 100%;
    z-index: 100;
    top: -300px;
    position: fixed;
    transition: 0.5s;
}

.down{
    transition: 0.5s;
    top: 80px;
}